@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.gridSquare {
  /* height: 50px;
  width: 50px; */
  border: 1px solid black;
  background-color: steelblue;
  cursor: pointer;
}

#gridContainer {
  display: flex;
  height: 800px;
  width: 800px;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 5%;
}

#newGridBtn {
  font-size: 18px;
  margin-bottom: 20px;
  font-weight: bold;
  padding: 5px;
  border-radius: 10px;
  border-style: 1px solid black;
}

@media (max-width: 800px) {
  #gridContainer {
    height: 400px;
    width: 400px;
  }

  .gridSquare {
    height: 25px;
    width: 25px;
  }
}
