@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

#gridContainer {
  display: flex;
  height: 90%;
  width: 90%;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 5%;
}

.gridSquare {
  height: 6.25%;
  width: 6.25%;
  border: 1px solid black;
  background-color: steelblue;
  cursor: pointer;
}

.orange {
  background-color: orange;
}
